{% extends 'base.html.twig' %}

{% block title %}New SearchData{% endblock %}

{% block body %}
    <h1>Create new SearchData</h1>

    {{ include('search_data/_form.html.twig') }}

    <a href="{{ path('app_search_data_index') }}">back to list</a>
{% endblock %}
